# CONFIGURAÇÕES DE DEPLOY - UPTOWER®
# Renomeie este arquivo para .env e preencha os dados abaixo

# Endereço do Servidor FTP (Ex: ftp.uptower.com.br ou o IP da HostGator)
FTP_HOST=

# Seu usuário do cPanel / FTP
FTP_USER=

# Sua senha do cPanel / FTP
FTP_PASS=

# Pasta exata no servidor (Geralmente /public_html ou /public_html/sua-pasta)
# Mantenha a barra inicial /
REMOTE_DIR=/public_html
